@font-face {
  font-family: 'Monogram';
  src: url('../assets/fonts/monogram_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Monogram';
  src: url('../assets/fonts/monogram_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}